<table>
  <thead>
    <tr>
      <th>N#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
          <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          {{!IF statement checks boolean value to print undone or done}}
          {{#if done}}
            <a href="/toggleDone/{{_id}}">Undone</a>
          {{else}}
            <a href="/toggleDone/{{_id}}">Done</a>
          {{/if}}

          <a href="/delete/{{_id}}">
             Delete
          </a>
          </button>
          <a href="/edit/{{_id}}">
              Update
          </a>
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>